<div class="dashboard-container">
    <h2>Welcome Agent!</h2>
   
    <button [routerLink]="['/create-package']">➕ Create New Package</button>
    <button (click)="goToProfile()">👤 My Profile</button>

    <hr>
      <div *ngIf="packages.length > 0; else noPackages">
      <h3>Your Travel Packages:</h3>
      <ul>
        <li *ngFor="let pkg of packages">
          <strong>{{ pkg.title }}</strong> – {{ pkg.destination }} (₹{{ pkg.price }})<br>
          <!--view details of the package-->
          <div class="package-actions">
            <button [routerLink]="['/view-package', pkg.packageId]">View Details</button>
            <button [routerLink]="['/edit-package', pkg.packageId]">Edit</button>
            <button (click)="deletePackage(pkg.packageId)"> Delete</button>
          </div>
          
        </li>
      </ul>
    </div>
   
    <ng-template #noPackages>
      <p>No packages found. Click "Create New Package" to add one!</p>
    </ng-template>

</div>
   