:host {
  display: block;
  height: 100vh;
  overflow: hidden;
}


/* Push content below navbar */
.landing-container {
  padding-top: 100px;
  text-align: center;
  height: calc(100vh - 100px); /* prevent scroll */
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f0f8ff;
}
  
   
  h1 {
    color: #333;
    font-size: 36px;
  }
   
  p {
    color: #666;
    font-size: 18px;
  }
   
  .landing-buttons {
    margin-top: 30px;
  }
   
  button {
    background-color: #007bff;
    color: white;
    border: none;
    margin: 0 10px;
    padding: 12px 24px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s ease;
  }
   
  button:hover {
    background-color: #0056b3;
  }