<app-landing-navbar></app-landing-navbar>
<div class="about-container">
  <h2>ABOUT US</h2>
  <p>Welcome to our Travel Booking System! We are dedicated to making your travel dreams a reality by providing a seamless and efficient platform for booking your next adventure.</p>

  <p>This system allows users to book travel packages easily, offering a wide array of destinations and experiences to suit every traveler's needs and preferences. Whether you're looking for a relaxing beach getaway, an adventurous mountain trek, a vibrant city exploration, or a culturally immersive tour, our platform has something for everyone.</p>

  <p>Our mission is to simplify the travel planning process. We understand that organizing a trip can be complex, so we've designed our system to be user-friendly, secure, and comprehensive. You can browse through various package options, compare prices, read detailed itineraries, and book your desired trip with just a few clicks.</p>

  <p class="core-message">
    We partner with trusted travel providers and strive to offer competitive prices without compromising on quality or experience. Our goal is to ensure you have a memorable and hassle-free journey from the moment you start planning until you return home. *Explore, discover, and book your perfect travel package with us today!*
  </p>
</div>