<div class="login-container">
  <h2>Login</h2>
  
  <form (ngSubmit)="login()" #loginForm="ngForm"> 
    <label>Email:</label>
    <input
      type="email"
      [(ngModel)]="credentials.email"
      name="email"
      required
      pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$"
      #email="ngModel"
    />
    <div *ngIf="email.invalid && email.touched" style="color: red;">
      Please enter a valid email address.
    </div>
  
    <label>Password:</label>
    <input 
      type="password" 
      [(ngModel)]="credentials.password" 
      name="password"  required 
      #password="ngModel" 
    />
    <div *ngIf="password.invalid && password.touched && password.errors?.['required']" style="color: red;">
      Password is required.
    </div>
  
    <button type="submit" [disabled]="loginForm.invalid">Login</button> 
  </form>

  <div class="forgot-password-wrapper">
    <a [routerLink]="['/forgot-password']" class="forgot-password-link">Forgot Password?</a>
  </div>
</div>