<div class="insurance-container">
  <h2>My Insurances</h2>

  <div *ngIf="insurances.length === 0" class="no-insurance-message">
    No insurances taken.
  </div>

  <div *ngFor="let ins of insurances" class="card">
    <div class="status-indicator" [ngClass]="{
      'status-pending': ins.issuanceStatus === 'PENDING',
      'status-issued': ins.issuanceStatus === 'ISSUED'
    }">
      {{ ins.issuanceStatus.toLowerCase() | titlecase }}
    </div>

    <div class="card-body">
      <p><strong>Booking ID:</strong> {{ ins.bookingId }}</p>
      <p><strong>Coverage:</strong> {{ ins.coverageType }}</p>
      <p><strong>Details:</strong> {{ ins.coverageDetails }}</p>
      <p><strong>Price:</strong> ₹{{ ins.price }}</p>
      <p><strong>Claimable:</strong> ₹{{ ins.claimableAmount }}</p>
    </div>
  </div>
  <div class="back-button-wrapper">
    <button class="back-button" (click)="goBack()">← Back</button>
  </div>   
</div>
