<!--
<div class="forgot-password-container">
  <h2>Forgot Password</h2>
 
  <label>Email:
    <input type="email" [(ngModel)]="email" required />
  </label>
 
  <button (click)="sendPassword()">Send Password</button>
</div>

-->


<div class="forgot-password-container">
  <h2>Forgot Password</h2>
  
  <label>Email:
    <input
      type="email"
      [(ngModel)]="email"
      name="email"  required
      pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$"
      #forgotEmail="ngModel"
    />
  </label>
  <div *ngIf="forgotEmail.invalid && forgotEmail.touched" style="color: red;">
    Please enter a valid email address.
  </div>
  
  <button (click)="sendPassword()" [disabled]="forgotEmail.invalid">Send Password</button>
</div>